{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
    {% for cart in carts %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Order {{ cart.id }}#</th>
                <th scope="col">{{ cart.total/100 }}€</th>
                <th scope="col">
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ cart.status }}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('cart_update', {'id': cart.id, 'status': orderStatusInProgress}) }}">{{ orderStatusInProgress }}</a>
                            <a class="dropdown-item" href="{{ path('cart_update', {'id': cart.id, 'status': orderStatusReady}) }}"> {{ orderStatusReady }}</a>
                            <a class="dropdown-item" href="{{ path('cart_update', {'id': cart.id, 'status': orderStatusTake}) }}"> {{ orderStatusTake }}</a>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" colspan="2">
                    <table class="table">
                        {% for selection in cart.selections %}
                        <tr>
                            <th scope="row">
                                <span class="badge badge-primary">{{ selection.product.category.name }}</span>
                            </th>
                            <td>
                                {{ selection.product.name }} x{{ selection.quantity }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
{% endblock %}
