{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block stylesheets %}
<style>
    .badge a {
        color: white;
    }

    .badge a:hover {
        color: white;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block body %}
    {% if filterLabel %}
        <h1>
            Filtered by {{ filterLabel }}
        </h1>

        <a href="{{ path('carts') }}" class="btn btn-primary">
            Retour à la liste non filtrée
        </a>
    {% endif %}

    {% for cart in carts %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Order {{ cart.id }}#</th>
                <th scope="col">{{ cart.total/100 }}€</th>
                <th>
                    <span class="badge badge-primary">
                        <a href="{{ path('carts', { 'state': cart.state.label }) }}">
                            {{ cart.state.label }}
                        </a>
                    </span>
                    {% if is_granted('ROLE_MANAGER') %}
                        <a href="{{ path('update_state', {'id': cart.id}) }}" class="btn btn-primary">
                            Update to {{ cart.nextState }}
                        </a>
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" colspan="2">
                    <table class="table">
                        {% for selection in cart.selections %}
                        <tr>
                            <th scope="row">
                                <span class="badge badge-primary">{{ selection.product.category.name }}</span>
                            </th>
                            <td>
                                {{ selection.product.name }} x{{ selection.quantity }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
{% endblock %}
