{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
    {% for cart in carts %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Order {{ cart.id }}#</th>
                <th scope="col">{{ cart.total/100 }}€</th>
                <th>
                    <div class="input-group">
                        <form method="post" action="/{{ app.request.get('_route') }}/{{ cart.id }}/update">
                        <select class="custom-select" name="status" id="{{ cart.id }}">
                            {% for status in statuses %}
                            <option {% if cart.status == status %}selected{% endif %}>{{ status }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Modifier</button>
                        </div>
                        </form>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" colspan="3">
                    <table class="table">
                        {% for selection in cart.selections %}
                        <tr>
                            <th scope="row">
                                <span class="badge badge-primary">{{ selection.product.category.name }}</span>
                            </th>
                            <td>
                                {{ selection.product.name }} x{{ selection.quantity }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
{% endblock %}
