{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <a href="{{ path('orders_create') }}" class="btn btn-info">Créer</a>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Montant</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <th scope="row">{{ order.number }}</th>
                        <td>{{ order.name }}</td>
                        <td>{{ order.amount }}€</td>
                        <td>{{ order.status }}</td>
                        <td><a href="{{ path('orders_detail', {id: order.number}) }}" class="btn btn-primary">Voir</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
