{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>Votre commande</h1>
            <ul class="list-group">
            {% for selection in order.selections %}
                <li class="list-group-item">{{ selection.product.name }} x{{ selection.quantity }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-sm-4 text-center">
            <h2>
                #{{ order.number }}<br/>
                <span class="badge badge-primary">{{ order.status }}</span><br/>
                <em>{{ order.amount }}€</em><br/>
                <a href="{{ path('orders_list') }}" class="btn btn-primary">Retour</a>
            </h2>
        </div>
    </div>
</div>
{% endblock %}
