{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {{ 'ma.traduction'|trans({}, 'order') }}

    {% for error in app.flashes('error') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {% for success in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ success }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8">
            <h1>Votre commande</h1>
            <ul class="list-group">
            {% for selection in order.selections %}
                <li class="list-group-item">{{ selection.product.name }} x{{ selection.quantity }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-sm-4 text-center">

            <h2>
                #{{ order.number }}<br/>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ order.status }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('order_update_status', {id: order.number, status:'En préparation' }) }}">En préparation</a>
                        <a class="dropdown-item" href="{{ path('order_update_status', {id: order.number, status:'Prêt' }) }}">Prêt</a>
                        <a class="dropdown-item" href="{{ path('order_update_status', {id: order.number, status:'Emporté' }) }}">Emporté</a>
                    </div>
                </div><br/>
                <em>{{ order.amount }}€</em><br/>
                <a href="{{ path('orders_list') }}" class="btn btn-primary">Retour</a>
            </h2>
        </div>
    </div>
</div>
{% endblock %}
