{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Create Order{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ form_start(form) }}
            {{ form_widget(form.status) }}
            {{ form_widget(form.name) }}
            {# store the prototype on the data-prototype attribute #}
            <ul id="selection-fields-list"
                data-prototype="{{ form_widget(form.selections.vars.prototype)|e }}"
                data-widget-tags="{{ '<li></li>'|e }}"
                data-widget-counter="{{ form.selections|length }}">
                {% for selection in form.selections %}
                    <li>
                        {{ form_errors(selection) }}
                        {{ form_widget(selection) }}
                    </li>
                {% endfor %}
            </ul>

            <button type="button"
                    class="add-another-collection-widget"
                    data-list-selector="#selection-fields-list">Ajouter un produit</button>
            {{ form_end(form) }}
        </div>
        <a href="{{ path('orders_list') }}" class="btn btn-info">Retour</a>
    </div>
{% endblock %}

{% block javascripts %}
<script>
jQuery(document).ready(function () {
    jQuery('.add-another-collection-widget').click(function (e) {
        var list = jQuery(jQuery(this).attr('data-list-selector'));
        // Try to find the counter of the list or use the length of the list
        var counter = list.data('widget-counter') || list.children().length;

        // grab the prototype template
        var newWidget = list.attr('data-prototype');
        // replace the "__name__" used in the id and name of the prototype
        // with a number that's unique to your emails
        // end name attribute looks like name="contact[emails][2]"
        newWidget = newWidget.replace(/__name__/g, counter);
        // Increase the counter
        counter++;
        // And store it, the length cannot be used if deleting widgets is allowed
        list.data('widget-counter', counter);

        // create a new list element and add it to the list
        var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
        newElem.appendTo(list);
    });
});
</script>
{% endblock %}
